<h1 class="text-center">{{selectedEvent.Name}}</h1>

<h2 class="text-center">{{selectedEvent.EventLocation}}</h2>
<h2 class="text-center">{{selectedEvent.Address}}</h2>
<h2 class="text-center">{{selectedEvent.PromoterEmail}}</h2>
<h2 class="text-center">{{selectedEvent.PassCost}}</h2>
<h2 class="text-center">{{selectedEvent.HotelCost}}</h2>
<h2 class="text-center">{{selectedEvent.EventURL}}</h2>

<div class="text-center">
<button class="btn btn-info"><a ng-href="#/event/{{selectedEvent.id}}/edit">Edit</a></button>
</div>