<section class= "text-center">
	<h1>Create Your Event</h1>
	<form>
		<div>
			Name:<input type="text" placeholder = "Name">
		</div>
		<div>
			Venue:
			<input type="text" placeholder = "Place">
			<input type="text" placeholder = "Address">
			<input type="text" placeholder = "Location">
		</div>
		<div>
			Promoter:
			<input type="text" placeholder = "Name">
			<input type="text" placeholder = "###-###-####">
			<input type="text" placeholder = "Email">
		</div>
		<div>
			Pass Cost Range:<input type="text" placeholder = "$$$-$$$">
		</div>
		<div>
			Hotel Cost Range:<input type="text" placeholder = "$$$-$$$">
		</div>
		<div>
			Event URL<input type="text" placeholder = "URL">
		</div>
		<div>
			<button class="btn btn-info" ng-click="createEvent()">Submit</button>
		</div>
	</form>
</section>