<section class= "text-center">
	<h1>My Dance Events</h1>
	<div class="container">
		<div ng-repeat= "event in events">
			<div class="panel panel-default">
				<div class="panel panel-heading">
					<a ng-href="#/event/{{event.id}}">{{event.Name}}</a>
				</div>
				<table class="table">
					<div>Location: {{event.EventCity}},{{event.EventState}}</div>
					<div>Address: {{event.Address}}</div>
					<div>Promoter: {{event.PromoterEmail}}</div>	
					<div>FullPass: {{event.FullPassCost}}</div>	
					<div>Hotel: {{event.HotelCost}}</div>	
					<div>Website: {{event.EventURL}}</div>	
				</table>	
				<div><button class="btn btn-primary" ng-click ="deleteEvent(event.id)">Delete
				</button></div>
			</div>
		</div>
		
	</div>
</section>