<section class= "text-center">
	<h1>Create Your Event</h1>
	<form>
		<div class="form-group">
			<div class="panel panel-default">
				<input type="text" class= "form-control"placeholder = "Event Name"ng-model="newTask.Name"/>
			</div>
		</div>
		<div class="form-group">
			<div class="panel panel-default">
				<input type="text" class= "form-control" placeholder = "Event Location"ng-model="newTask.EventLocation"/>
			</div>
		</div>
		<div class="form-group">
			<div class="panel panel-default">
				<input type="text" class= "form-control" placeholder = "Address"ng-model="newTask.Address"/>
			</div>
			<div class="form-group">
				<div class="panel panel-default">
					<input type="text" class= "form-control" placeholder = "Promoter Email"ng-model="newTask.PromoterEmail"/>
				</div>
				<div class="form-group">
					<div class="panel panel-default">
						<input type="text" class= "form-control" placeholder = "Full Pass Cost" ng-model="newTask.FullPassCost"/>
					</div>
				</div>
				<div class="form-group">
					<div class="panel panel-default">
						<input type="text" class= "form-control" placeholder = "Hotel Cost" ng-model="newTask.HotelCost"/>
					</div>
				</div>
				<div class="form-group">
					<div class="panel panel-default">
						<input type="text" class= "form-control" placeholder = "Event Website" ng-model="newTask.EventURL"/>
					</div>
				</div>
				<div class="text-center">
					<div class="text-center">
						<button class="btn btn-default" ng-click="createEvent()">Submit</button>
					</div>
				</div>
			</form>
		</section>