<section class= "text-center">
	<h1>My Dance Events</h1>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="input-group">
				<span class= "input-group-btn">
					<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</span>
				<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">

			</div>
		</div>
	</div>
	<div class="container">
		<div ng-repeat= "event in events | filter: searchText">
			<div class="panel panel-default">
				<div class="panel panel-heading">
					<a ng-href="#/event/{{event.id}}">{{event.Name}}</a>
				</div>
				<table class="table">
					<div>Location: {{event.EventLocation}}</div>
					<div>Address: {{event.Address}}</div>
					<div>Promoter: {{event.PromoterEmail}}</div>	
					<div>FullPass Cost: {{event.FullPassCost}}</div>	
					<div>Hotel Cost: {{event.HotelCost}}</div>	
					<div>Website: {{event.EventURL}}</div>	
				</table>	
				<div><button class="btn btn-primary" ng-click ="deleteEvent(event.id)">Delete
				</button></div>
			</div>
		</div>
		
	</div>
</section>