<section class= "col-md-6 col-md-offset-3" >
	<h1>Create Your Event</h1>
	<br>
	<form>
		<div class="form-group">
		<label>Event Title: </label>
				<input type="text" class= "form-control" placeholder = "SanFrancisco Salsa Festival" ng-model="newTask.Name"/>
		</div>
		<div class="form-group">
		<label>Event City: </label>
				<input type="text" class= "form-control" placeholder = "Atlanta" ng-model="newTask.EventCity"/>
		</div>
		<div class="form-group">
		<label>Event State: </label>
				<input type="text" class= "form-control" placeholder = "GA" ng-model="newTask.EventState"/>
		</div>
		<div class="form-group">
		<label>Event Address: </label>
				<input type="text" class= "form-control" placeholder = "123455 Jim Beam Rd." ng-model="newTask.Address"/>
		</div>
		<div class="form-group">
		<label>Promoter Email: </label>
				<input type="email" name="input" class= "form-control" placeholder = "example@example.com" ng-model="newTask.PromoterEmail" required/>
		</div>
		<div class="form-group">
		<label>Full Pass Cost: </label>
				<input type="number" class= "form-control" placeholder = "500" ng-model="newTask.FullPassCost"/>
		</div>
		<div class="form-group">
		<label>Hotel Cost: </label>
				<input type="number" class= "form-control" placeholder = "700" ng-model="newTask.HotelCost"/>
		</div>
		<div class="form-group">
		<label>Event Website: </label>
				<input type="text" class= "form-control" placeholder = "somewebsite.com" ng-model="newTask.EventURL"/>
			</div>
			<div class="text-center">
				<button class=" btn btn-primary create" ng-click="createEvent()">Submit</button>
			</div>
	</form>
</section>